In [1]:
import os
import cx_Oracle
import pandas as pd
import numpy as np

def get_dataframe_from_oracle(query):
    # oracle info
    id = os.environ['CONNECTION_STRING_ID_FOR_MESDB']
    pw = os.environ['CONNECTION_STRING_PW_FOR_MESDB']
    dsn = os.environ['CONNECTION_STRING_DSN_FOR_MESDB']

    # oracle connection
    con = cx_Oracle.connect(id, pw, dsn)
    print("DB Connection Success!")

    # cursor
    cursor = con.cursor()

    # execute
    cursor.execute(query)
    print("SQL Execution Success!")

    # fetch
    data = cursor.fetchall()
    print("Data Fetch Success!")

    # make dataframe
    df = pd.DataFrame(data)
    col_name = [row[0] for row in cursor.description]
    df.columns = col_name
    print("Dataframe Create Success!")

    # close
    cursor.close()
    con.close()
    print("DB Connection Close!")

    # return
    return df

# 환경 변수 설정 
os.environ['CONNECTION_STRING_ID_FOR_MESDB'] = 'KPSFDAQ'
os.environ['CONNECTION_STRING_PW_FOR_MESDB'] = 'KPSFDAQ'
os.environ['CONNECTION_STRING_DSN_FOR_MESDB'] = """
(DESCRIPTION=
    (ADDRESS=(PROTOCOL=TCP)(HOST=202.31.25.84)(PORT=1521))
    (CONNECT_DATA=(SERVICE_NAME=DKPPODA.kppodad))
)
"""

In [4]:
query = """SELECT * FROM KPPMES.LMES_LQLTTR108
 WHERE INS_DATE BETWEEN '20231010' AND '20231011' 
 """
df = get_dataframe_from_oracle(query)
display(df.head(10).style.background_gradient())

DB Connection Success!
SQL Execution Success!
Data Fetch Success!
Dataframe Create Success!
DB Connection Close!

In [ ]:
test test test